<div class="wrapper">
  <%- include('../../partials/navbar'); %>
 

 
  

 
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Matriculas</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"> <button type="submit" class="btn btn-primary btn-block"><a href="/gestao/matricla">Novo</a> </button></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="card-body p-0">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Lista geral de Matriculas</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Nº Matricula</th>
              <th>Nome</th>
              <th>Tipo de Matricula</th>
              <th>Turma</th>
              <th>Ano academico</th>
              <th>Periodo</th>
              <th>Recibo Pagamento</th>
              <th>Data Matricula</th>
              <th>Opção</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>I12DT</td>
              <td>Jesus Afonso</td>
              <td>Manhã</td>
              <td>Informática</td>
              <td>Ensino Medio</td>
              <td>I trimestre</td>
              <td> 4</td>
              <td>12/02/2022</td>
              <td> 
                <a class="btn btn-info btn-sm" href="/gestao/matricula/edit">
                <i class="fas fa-pencil-alt"></i></a>

                <a class="btn btn-danger btn-sm" href="#">
                <i class="fas fa-trash"></i></a>
                
              </td>
            </tr>
            
            
            </tbody>
            <tfoot>
            <tr>
              <th>Nº Matricula</th>
              <th>Nome</th>
              <th>Tipo de Matricula</th>
              <th>Turma</th>
              <th>Ano academico</th>
              <th>Periodo</th>
              <th>Recibo Pagamento</th>
              <th>Data Matricula</th>
              <th>Opção</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

  <!-- Main Footer -->
  <%- include('../../partials/footer'); %>
</div>
<!-- ./wrapper -->
 